<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<script type="text/javascript" src="/libs/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		
	// $(document).ready(function(){
 //    	$('#calcBtn').click(function() {
	// 		var a = parseFloat($('#a').val());
	// 		var b = parseFloat($('#b').val());
	// 		if(isNaN(a) || isNaN(b)) {
	// 			alert('숫자를 입력해 주세요!');
	// 			$('input[type=text]').val('')      
	// 			return;
	//      	} 

	// 		$.post('/',function(data) {
	// 			$('#output').val(data.result);
	// 		},'json');
 //    	});
 //   });

	</script>
</head>
<body>  
</body>
</html>